{% extends 'store/base.html' %}

{% load static %}

{% block content %}

<style>

  #add-to-cart{

    color: #333 !important;

    border-radius: 30px !important;

    background-color: #fff !important;

    cursor: pointer;

    padding-bottom: 33px !important;

    

  }

  #add-to-cart:hover{

    background-color: #333 !important;

    color: #fff !important;

    transition: all .5s;

  }

</style>

<div class="hero-wrap hero-bread" style="background-image: url('{% static "images/bg_1.jpg" %}');">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-0 bread">Product Info</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 mb-5 ftco-animate">
                  <a href="{{product.image.url}}" class="image-popup"><img src="{{product.image.url}}" class="img-fluid" alt="Colorlib Template" style="height: 300px;"></a>
              </div>
              <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                  <h3>{{product.title}}</h3>
                  <p class="price"><span>BDT {{product.price}}/kg</span></p>
                  <p>{{product.description}}</p>

                  <div class="input-group col-md-6 d-flex mb-3">
                    <span class="input-group-btn mr-2">
                       <button type="button" class="quantity-left-minus btn"  data-type="minus" data-field="">
                      <i class="ion-ios-remove"></i>
                       </button>
                       </span>
                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
                    <span class="input-group-btn ml-2">
                       <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                        <i class="ion-ios-add"></i>
                    </button>
                    </span>
                 </div>
                  
                  <button id="add-to-cart" value="{{product.id}}" type="button"> Add to Cart </button>
              </div>
          </div>
      </div>
  </section>

  <script>

    $(document).on('click', '#add-to-cart', function(e){

      e.preventDefault();

      $.ajax({

          type: 'POST',

          url: '{% url "cart-add" %}',

          data: {

              product_id: $('#add-to-cart').val(),

              quantity: $('#quantity').val(),

              csrfmiddlewaretoken: '{{csrf_token}}',

              action: 'post',

          },

          success: function(json){

            document.getElementById('cart-qty').textContent = json.qty;

            // console.log('ok');
            
          },

          error: function(xhr, errmsg, err){



          }

      })

    })

  </script>

{% endblock %}