
{% extends 'store/base.html' %}

{% load static %}

{% block content %}

    <br>
    
    <div class="container bg-white shaow-md p-5 form-layout">

        <div class="text-center">

            <i class="fa fa-envelope fa-3x" aria-hidden="true" style="color: #2ecc71;"></i>

            <br><br>

            <h5><strong>A verification link was sent to your email!</strong></h5>

            <hr>

            <p>Please check your email.</p>

        </div>
    
    </div>

    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
{% endblock %}