{% extends 'store/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<style>

    .form-layout{

        border-radius: 20px;

        width: 500px;

    }

</style>

<br> <br>
<div class="container bg-dark shadow-md p-5 form-layout text-white">

    <h3 class="text-white">Create your account</h3>

    <br><br>

    <form method="post" autocomplete="off">

        {% csrf_token %}

        {% for field in form %}

            {{field|as_crispy_field}}

            <br>

        {% endfor %}

        <button type="submit" class="btn btn-primary navbar-btn w-100 p-2">Create account</button>


        <br> <br>

        <div class="text-center">

            <a href="{% url 'my-login' %}">Already have an account?</a>
        
        </div>

    </form>

</div>

<br> <br> <br> <br>

{% endblock %}