
{% extends 'store/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<style>

    h3{

    color: #fff;

    }

    hr{

    border-color: #fff;

    }

    .form-layout{

    border-radius: 20px;

    width: 500px;

    }

</style>

        <br>
        
        <div class="container bg-dark shaow-md p-5 form-layout text-white">

            <p>We've emailed you instructions for setting your password. Please check your email.</p>

        </div>

        <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> 
    

{% endblock %}