
{% extends 'store/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<style>

    h3{

    color: #fff;

    }

    hr{

    border-color: #fff;

    }

    .form-layout{

    border-radius: 20px;

    width: 500px;

    }

</style>

        <br>
        
        <div class="container bg-dark shadow-md p-5 form-layout text-white">

            <h3>Password reset complete. </h3>

            <p>Your password has been set. You may proceed to login.</p>

            <a class="btn btn-success navbar-btn text-white" href="{% url 'my-login' %}">Login</a>

        </div>

        <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> 


{% endblock %}