
{% extends 'store/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<style>

    .form-layout{

        border-radius: 20px;

        width: 500px;

    }


</style>

    <br>
    <div class="text-center">

        <div class="container bg-white shadow-md p-5 form-layout">

            <div class="text-center">
    
                <i class="fa fa-times fa-3x text-danger" aria-hidden="true"></i>
    
                <br><br>
    
                <h5><strong>Sorry, your order was not processed.</strong></h5>
    
            </div>
        
        </div>
    
    </div>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>


{% endblock %}